@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #eee;
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

.lists {
    margin-top: -150px; 
}

.loading {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden !important;
    z-index: 3;
}

footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.footer--netflixLink a{
    text-decoration: none;
    color: rgb(224, 71, 71)
}

.footer--tmdbLink a{
    text-decoration: none;
    color: rgb(71, 224, 191)
}

.disabled  {
    display: none;
}